<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Mozg. All rights reserved.
 * See LICENSE.txt for license details.
 */
 -->
<config>
    <modules>
        <Mozg_Base>
            <version>1.0.0</version>
        </Mozg_Base>
    </modules>
    <global>
        <models>
            <mozg_base>
                <class>Mozg_Base_Model</class>
                <resourceModel>mozg_base_resource</resourceModel>
            </mozg_base>
            <mozg_base_resource>
                <class>Mozg_Base_Model_Resource</class>
            </mozg_base_resource>
        </models>
        <helpers>
            <mozg_base>
                <class>Mozg_Base_Helper</class>
            </mozg_base>
        </helpers>
        <blocks>
            <mozg_base>
                <class>Mozg_Base_Block</class>
            </mozg_base>
        </blocks>
        <resources>
            <mozg_base_setup>
                <setup>
                    <module>Mozg_Base</module>
                    <class>Mozg_Base_Model_Resource_Setup</class>
                </setup>
            </mozg_base_setup>
        </resources>
        <!-- http://blog.belvg.com/using-default-magento-cache.html -->
        <cache>
            <types>
                <mozg_base translate="label,description" module="mozg_base">
                    <label>MOZG Cache Requests</label>
                    <description>MOZG Cache Requests</description>
                    <tags>MOZG_CACHE</tags>
                </mozg_base>
            </types>
        </cache>
        <!-- http://blog.belvg.com/using-default-magento-cache.html -->
        <!-- Adding custom product attribute to quote and order items in Magento -->
        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <!-- Atributo criado pelo PedroTeixeira -->
                        <volume_largura/>
                        <volume_comprimento/>
                        <volume_altura/>
                        <!-- Atributo criado pela Mozg -->
                        <ship_width/>
                        <ship_length/>
                        <ship_height/>
                        <ship_separately/>
                    </product_attributes>
                </item>
            </quote>
        </sales>
        <!-- Adding custom product attribute to quote and order items in Magento -->
    </global>
    <!--<admin>
        <routers>
            <mozg_base>
                <use>admin</use>
                <args>
                    <module>Mozg_Base</module>
                    <frontName>mozg_base</frontName>
                </args>
            </mozg_base>
        </routers>
    </admin>-->
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Mozg_Base before="Mage_Adminhtml">Mozg_Base_Adminhtml</Mozg_Base>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Mozg_Base>
                    <files>
                        <default>Mozg_Base.csv</default>
                    </files>
                </Mozg_Base>
            </modules>
        </translate>
        <layout>
            <updates>
                <mozg_base>
                    <file>mozg_base.xml</file>
                </mozg_base>
            </updates>
        </layout>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <mozg_base_html_before_1>
                        <class>mozg_base/observer_adminhtml_abstractHtml</class>
                        <method>abstractHtmlBefore</method>
                    </mozg_base_html_before_1>
                </observers>
            </core_block_abstract_to_html_before>
            <core_block_abstract_to_html_before>
                <observers>
                    <mozg_base_html_before_2>
                        <class>mozg_base/observer_adminhtml_abstractHtml</class>
                        <method>BeforeRenderHtml</method>
                    </mozg_base_html_before_2>
                </observers>
            </core_block_abstract_to_html_before>
            <core_block_abstract_to_html_after>
                <observers>
                    <mozg_base_html_after>
                        <class>mozg_base/observer_adminhtml_abstractHtml</class>
                        <method>AfterRenderHtml</method>
                    </mozg_base_html_after>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
    </adminhtml>
    <frontend>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <mozg_base_html_before_2>
                        <class>mozg_base/observer_abstractHtml</class>
                        <method>BeforeRenderHtml</method>
                    </mozg_base_html_before_2>
                </observers>
            </core_block_abstract_to_html_before>
            <core_block_abstract_to_html_before>
                <observers>
                    <mozg_base_html_before_3>
                        <type>model</type>
                        <class>mozg_base/observer_abstractHtml</class>
                        <method>insertBlockSplitprice</method>
                    </mozg_base_html_before_3>
                </observers>
            </core_block_abstract_to_html_before>
            <core_block_abstract_to_html_after>
                <observers>
                    <mozg_base_html_after>
                        <class>mozg_base/observer_abstractHtml</class>
                        <method>AfterRenderHtml</method>
                    </mozg_base_html_after>
                </observers>
            </core_block_abstract_to_html_after>
            <sales_order_place_after>
                <observers>
                    <mozg_base_sales_order_after_1>
                        <class>mozg_base/observer_salesOrderPlaceAfter</class>
                        <method>addShippingDataOrderComment</method>
                    </mozg_base_sales_order_after_1>
                </observers>
            </sales_order_place_after>
            <sales_order_place_after>
                <observers>
                    <mozg_base_sales_order_after_2>
                        <class>mozg_base/observer_salesOrderPlaceAfter</class>
                        <method>orderSetState</method>
                    </mozg_base_sales_order_after_2>
                </observers>
            </sales_order_place_after>
            <sales_order_payment_place_start>
                <observers>
                    <mozg_base_sales_order_payment_start>
                        <class>mozg_base/observer_salesOrderPaymentPlaceStart</class>
                        <method>setAdditionalInformation</method>
                    </mozg_base_sales_order_payment_start>
                </observers>
            </sales_order_payment_place_start>
        </events>
        <layout>
            <updates>
                <mozg_base>
                    <file>mozg_base.xml</file>
                </mozg_base>
            </updates>
        </layout>
        <routers>
            <mozg_base>
                <use>standard</use>
                <args>
                    <module>Mozg_Base</module>
                    <frontName>mozg_base</frontName>
                </args>
            </mozg_base>
        </routers>
        <translate>
            <modules>
                <Mozg_Base>
                    <files>
                        <default>Mozg_Base.csv</default>
                    </files>
                </Mozg_Base>
            </modules>
        </translate>
    </frontend>
    <default>
        <mozg_general>
            <resources>
                <active_1column_checkout_onepage_success>1</active_1column_checkout_onepage_success>
                <active_style_iwd_opc>1</active_style_iwd_opc>
                <active_checkout_progress_bar>1</active_checkout_progress_bar>
                <active_button_dump_order>1</active_button_dump_order>
                <active_button_google_route_order>1</active_button_google_route_order>
                <active_new_columns_sales_order>1</active_new_columns_sales_order>
                <active_boxpacker_sales_order_view>1</active_boxpacker_sales_order_view>
                <debug_block_name>0</debug_block_name>
                <active_split_price>1</active_split_price>
            </resources>
        </mozg_general>
    </default>
    <phpunit>
        <suite>
            <modules>
                <Mozg_Base/>
            </modules>
        </suite>
    </phpunit>
</config>
